body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    color: black;
    font-size: 30px;
}

.color {
    color: crimson;
}

.button {
    color: white;
    background-color: chartreuse;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700px;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
}

section img {
    width: 80%;
}

.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h2 {
    color: blue;
}

.haif-width {
    width: 40%;
    padding-left: 10%;
}

.style {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
    box-shadow: 10px 20px 5px 10px bisque;
    border-radius: 20px;
}

#color {
    border-left: 7px solid;
    border-image: linear-gradient(red, yellow);
    border-image-slice: 2;
}

#another {
    border-left: 7px solid;
    border-image: linear-gradient(pink, blue);
    border-image-slice: 2;
}

.mission {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

footer p {
    text-align: center;
    color: blue;
    font-size: 20px;
}